In [52]:
import json

fd=open("record.json",'r')
r=fd.read()
fd.close()

record=json.loads(r)

record

{'1001': {'Mfg.date': '1-20',
  'company_name': 'britania',
  'name': 'Choco Cake',
  'pr': 100,
  'qn': 360},
 '1002': {'Mfg.date': '2-21',
  'company_name': 'britania',
  'name': 'Milk Cake',
  'pr': 800,
  'qn': 100},
 '1003': {'Mfg.date': '1-19',
  'company_name': 'pepsi',
  'name': 'Drink',
  'pr': 85,
  'qn': 100},
 '1004': {'Mfg.date': '4-20',
  'company_name': 'britania',
  'name': 'Candy',
  'pr': 5,
  'qn': 988},
 '1005': {'Mfg.date': '6-21',
  'company_name': 'cello',
  'name': 'Pen',
  'pr': 20,
  'qn': 100},
 '1006': {'Mfg.date': '11-20',
  'company_name': 'realme',
  'name': 'Phone',
  'pr': 50000,
  'qn': 10},
 '1007': {'Mfg.date': '3-21',
  'company_name': 'sony',
  'name': 'Mic',
  'pr': 1500,
  'qn': 60},
 '1008': {'Mfg.date': '8-20',
  'company_name': 'sony',
  'name': 'Case',
  'pr': 599,
  'qn': 4},
 '1009': {'Mfg.date': '10-20',
  'company_name': 'dell',
  'name': 'Keyboard',
  'pr': 1999,
  'qn': 10},
 '1010': {'Mfg.date': '11-20',
  'company_name': 'sony',
  'name': 'headphones',
  'pr': 200,
  'qn': 25},
 '1011': {'Mfg.date': '12-20',
  'company_name': 'apsara',
  'name': 'pencil',
  'pr': 5,
  'qn': 100},
 '1012': {'Mfg.date': '7-20',
  'company_name': 'lays',
  'name': 'chips',
  'pr': 20,
  'qn': 150},
 '1013': {'Mfg.date': '8-20',
  'company_name': 'vim',
  'name': 'soap',
  'pr': 15,
  'qn': 200},
 '1014': {'Mfg.date': '10-20',
  'company_name': 'kitkat',
  'name': 'kitkat',
  'pr': 30,
  'qn': 350},
 '1015': {'Mfg.date': '5-20',
  'company_name': 'sundaram',
  'name': 'notebook',
  'pr': 45,
  'qn': 390},
 '1016': {'Mfg.date': '2-20',
  'company_name': 'classmate',
  'name': 'rubber',
  'pr': 5,
  'qn': 20},
 '1017': {'Mfg.date': '8-20',
  'company_name': 'britania',
  'name': 'biscuits',
  'pr': 40,
  'qn': 45},
 '1018': {'Mfg.date': '11-20',
  'company_name': 'kinley',
  'name': 'bottle',
  'pr': 60,
  'qn': 500},
 '1019': {'Mfg.date': '1-20',
  'company_name': 'nirma',
  'name': 'washing powder',
  'pr': 300,
  'qn': 100},
 '1020': {'Mfg.date': '8-20',
  'company_name': 'sony',
  'name': 'charger',
  'pr': 350,
  'qn': 90},
 '1021': {'Mfg.date': '7-20',
  'company_name': 'gucci',
  'name': 'wallet',
  'pr': 199,
  'qn': 200},
 '1022': {'Mfg.date': '9-20',
  'company_name': 'classmate',
  'name': 'scale',
  'pr': 10,
  'qn': 30},
 '1023': {'Mfg.date': '3-20',
  'company_name': 'classmate',
  'name': 'sharpener',
  'pr': 5,
  'qn': 400},
 '1024': {'Mfg.date': '2-21',
  'company_name': 'sundaram',
  'name': 'textbook',
  'pr': 150,
  'qn': 80},
 '1025': {'Mfg.date': '1-21',
  'company_name': 'classmate',
  'name': 'graph paper',
  'pr': 2,
  'qn': 180},
 '1026': {'Mfg.date': '12-20',
  'company_name': 'fevicol',
  'name': 'fevicol',
  'pr': 15,
  'qn': 30},
 '1027': {'Mfg.date': '11-20',
  'company_name': 'classmate',
  'name': 'scissor',
  'pr': 25,
  'qn': 40},
 '1028': {'Mfg.date': '9-20',
  'company_name': 'vaselin',
  'name': 'cream',
  'pr': 99,
  'qn': 10},
 '1029': {'Mfg.date': '7-20',
  'company_name': 'ponds',
  'name': 'powder',
  'pr': 299,
  'qn': 300},
 '1030': {'Mfg.date': '5-20',
  'company_name': 'hp',
  'name': 'laptop',
  'pr': 40000,
  'qn': 6},
 '1031': {'Mfg.date': '3-20',
  'company_name': 'adidas',
  'name': 'basket',
  'pr': 45,
  'qn': 100},
 '1032': {'Mfg.date': '1-21',
  'company_name': 'adidas',
  'name': 'bucket',
  'pr': 89,
  'qn': 25},
 '1033': {'Mfg.date': '3-20',
  'company_name': 'lakme',
  'name': 'lipstick',
  'pr': 200,
  'qn': 105},
 '1034': {'Mfg.date': '5-20',
  'company_name': 'huda',
  'name': 'eyeliner',
  'pr': 89,
  'qn': 50},
 '1035': {'Mfg.date': '7-21',
  'company_name': 'adidas',
  'name': 'jacket',
  'pr': 400,
  'qn': 20}}

In [46]:
no=int(input("enter a number of new element you want to enter in your inventory management system\n"))

4
   prod_id=str(input("enter product id: "))
   name=str(input("enter a name: "))
   pr=int(input("enter a price: "))
   qn=int(input("enter a quantity: "))
   com_name=str(input("enter a company name"))
   mfg_date=str(input("enter a manufacturing date")) 


   record[prod_id]={'name': name, 'pr': pr,'qn': qn, 'Mfg.date': mfg_date, 'company_name': com_name}
   print("element is added  to record\n")

enter a number of new element you want to enter in your inventory management system
2
enter product id: 1034
enter a name: eyeliner
enter a price: 89
enter a quantity: 45
enter a company namehuda
enter a manufacturing date5-20
element is added  to record

enter product id: 1035
enter a name: jacket
enter a price: 400
enter a quantity: 20
enter a company nameadidas
enter a manufacturing date7-21
element is added  to record

In [48]:
js=json.dumps(record)
fd=open("record.json",'w')
fd.write(js)

fd.close()

print("new elements is successfully added to your inventory managment system")

new elements is successfully added to your inventory managment system

In [49]:
no=int(input("enter a no of products you want to purchase\n"))

for i in range(1,no+1):
   ui_prod=str(input("enter a product id : "))
   ui_quant=int(input("enter a quantity you want to purachse"))

   print("product: ",record[ui_prod]['name'])
   print("price :",record[ui_prod]['pr'])
   print("billing amount : ", record[ui_prod]['pr']* ui_quant)

   record[ui_prod]['qn']=record[ui_prod]['qn'] + ui_quant

enter a no of products you want to purchase
2
enter a product id : 1034
enter a quantity you want to purachse5
product:  eyeliner
price : 89
billing amount :  445
enter a product id : 1007
enter a quantity you want to purachse20
product:  Mic
price : 1500
billing amount :  30000

In [51]:
js=json.dumps(record)

fd=open("record.json",'w')
fd.write(js)
fd.close()